<style>
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }

  table,
  th,
  td {
    border: 1px solid lightgray;
  }

  .move_right {
    float: right;
  }

  .float_div {
    margin-right: 1%;
    float: left;
    min-width: 10%;
  }

  .display_inline {
    display: inline-block;

  }

  .adjust_table {
    margin: 2%;
    width: calc(100% - 4%);
  }

  div[hidden] {
    display: none;
  }

  @media screen and (max-width: 1024px) {
    .responsive_BLUE {
      display: none;
    }
  }

  @media screen and (max-width: 920px) {
    .responsive_GREEN {
      clear: both;
    }
  }

  /* The alert message box */
  .alert {
    padding: 1px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
  }
</style>

<div class="container display_inline">
  <div *ngFor="let table of tables" [ngClass]="'responsive_'+table.name" class="float_div"
    [ngStyle]="{'width': table.width + '%', 'border': table.name + ' 1px solid' }">
    <table class="adjust_table">
      <tr *ngFor="let row of table.data">
        <td *ngFor="let col of row" [ngStyle]="col === undefined ? { 'background': 'grey' } : {}">{{col}}</td>
      </tr>
    </table>
    <br />
    <button (click)="showForm(table.name)">Configure</button>
    <span class="move_right">{{table.width}}%</span>
  </div>
</div>

<div class="container display_inline" [hidden]="hideForm">
  <p>Table: <span [ngStyle]="{'color': currTable.name}">{{currTable.name}}</span> </p>
  <form [formGroup]="inputForm">
    <div class="form-group">
      <label for="start">N = </label>
      <input type="number" class="form-control" id="start" formControlName="start">
      <div *ngIf="start.errors" [ngClass]="'error'">
        <div *ngIf="start.errors.required">
          N required.
        </div>
        <div *ngIf="start.errors.min">
          N must be greater than 0
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="increment">X = </label>
      <input type="number" class="form-control" id="increment" formControlName="increment">
      <div *ngIf="increment.errors" [ngClass]="'error'">
        <div *ngIf="increment.errors.required">
          X required.
        </div>
        <div *ngIf="increment.errors.min">
          X must be greater than 0
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="max">M = </label>
      <input type="number" class="form-control" id="max" formControlName="max">
      <div *ngIf="max.errors" [ngClass]="'error'">
        <div *ngIf="max.errors.required">
          M required.
        </div>
        <div *ngIf="max.errors.min">
          M must be greater than 0
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="width">W = </label>
      <input type="number" class="form-control" id="width" formControlName="width"><span>%</span>
      <div *ngIf="width.errors" [ngClass]="'error'">
        <div *ngIf="width.errors.required">
          W required.
        </div>
        <div *ngIf="width.errors.min">
          W must be greater than 0
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="increment">D = </label>
      <select class="form-control" id="directions" formControlName="selectedDir">
        <option *ngFor="let dir of currTable.directions" [value]=dir>{{dir}}</option>
      </select>
    </div>

    <button (click)="onFormSubmit()" type="submit">Submit</button>
    <button (click)="cancel()">Cancel</button>
  </form>
</div>