<div class="container display_inline">
  <div *ngFor="let table of tables" [ngClass]="'responsive_'+table.name" class="float_div"
    [ngStyle]="{'width': table.width + '%', 'border': table.name + ' 1px solid' }">
    <table class="adjust_table">
      <tr *ngFor="let row of table.data">
        <td *ngFor="let col of row" [ngStyle]="col === undefined ? { 'background': 'grey' } : {}">{{col}}</td>
      </tr>
    </table>
    <br />
    <button (click)="showForm(table.name)">Configure</button>
    <span class="move_right">{{table.width}}%</span>
  </div>
</div>

<div class="container display_inline" [hidden]="hideForm">
  <p>Table: <span [ngStyle]="{'color': currTable.name}">{{currTable.name}}</span> </p>
  <form #inputForm="ngForm">
    <div>
      <label for="start">N = </label>
      <input type="number" id="start" [(ngModel)]="currTable.start" name="start" required min="0" #start="ngModel">
      <div *ngIf="start.errors && inputForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
        <div *ngIf="start.errors.required">
          N required.
        </div>
        <div *ngIf="start.errors.min">
          N must be greater than 0.
        </div>
      </div>
    </div>

    <div>
      <label for="increment">X = </label>
      <input type="number" id="increment" [(ngModel)]="currTable.increment" name="increment" required min="0"
        #increment="ngModel">
      <div *ngIf="increment.errors && inputForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
        <div *ngIf="increment.errors.required">
          X required.
        </div>
        <div *ngIf="increment.errors.min">
          X must be greater than 0.
        </div>
      </div>
    </div>

    <div>
      <label for="max">M = </label>
      <input type="number" id="max" [(ngModel)]="currTable.max" name="max" required min="0" #max="ngModel">
      <div *ngIf="max.errors && inputForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
        <div *ngIf="max.errors.required">
          M required.
        </div>
        <div *ngIf="max.errors.min">
          M must be greater than 0.
        </div>
      </div>
    </div>

    <div>
      <label for="width">W = </label>
      <input type="number" id="width" [(ngModel)]="currTable.width" name="width" required min="0" #width="ngModel">
      <div *ngIf="width.errors && inputForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
        <div *ngIf="width.errors.required">
          W required.
        </div>
        <div *ngIf="width.errors.min">
          W must be greater than 0.
        </div>
      </div>
      <span>%</span>
    </div>

    <div>
      <label for="increment">D = </label>
      <select id="directions" [(ngModel)]="currTable.selectedDir" name="selectedDir" required>
        <option *ngFor="let dir of currTable.directions" [value]=dir>{{dir}}</option>
      </select>
    </div>
    <button (click)="onFormSubmit(inputForm)" type="submit">Submit</button>
    <button (click)="cancel()">Cancel</button>
  </form>
</div>